* {
  font-family: inherit;

  margin: 0;

  outline: 0;

  padding: 0;

  position: relative;

  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  flex: 1;
}

.space-image {
  max-height: 100%;
  max-width: 100%;
  flex: 1;
  object-fit: contain;
}

.background-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  height: 60px;
  background-color: blue;
  display: flex;
  flex-direction: row;
}

.customise-bar {
  position: absolute;
  height: 100%;
  background-color: blueviolet;
  z-index: 1000;
  right: 0;
}

.tool-bar {
  background-color: hotpink;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}
